@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-box{
    height: 50vh;

    display: flex;
    color:cornflowerblue;
    align-content: center;
    justify-content: center;
    background-color: black;
    width: 30vh;
    padding: 5%;
    border: 20px cornflowerblue;
    border-radius: 8%;
    
}
h1{
    font-family: "Orbitron", sans-serif;
    color:steelblue ;
}
